.items-2 {
  float: left;
  width: 50%;

  @include breakpoint(tablet) {
    float: none;
    width: 100%;
  }
}

.items-3 {
  float: left;
  width: 33.33%;

  @include breakpoint(tablet) {
    float: none;
    width: 100%;
  }
}